.main {
    padding: 20px;
    border: 2px grey solid;
}

.shelf {
border: 1px solid #ccc;
border-radius: 5px;
padding: 10px;
margin-bottom: 20px;
}

.shelf-name {
font-size: 18px;
font-weight: bold;
}

.shelf-description {
margin-top: 5px;
}
