.shelfPage {
    font-size: 20px;
}
.shelfInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.labelPlusDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50vw;
}

.shelfLabel {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.shelfInfo .item h2 {
    font-size: 40px;
}

.shelfAvatar {
    margin-right: 20px;
    height: 100px;
    width: 100px;
}

.shelfDescription {
    align-self: flex-start;
}

.bookList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-top: 1px solid #020021;
    max-width: 800px;
    width: 100%;
    margin-top: 10px;
}
