.userPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.userInfo {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.userAvatar {
    border-radius: 50%;
    margin-right: 20px;
    height: 200px;
    width: 200px;
}

.userDetails .item {
    margin: 5px 0;
}

.actions {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.actionButton {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.doing a {
    text-decoration: none;
    font-size: 30px;
    background-color: #03791b;
    color: white;
    padding: 10px 80px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 10px;
}