.main {
  font-size: 18px;
}

.infoPlusDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50vw;
}

.BookPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.BookInfo {
  display: flex;
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
}

.BookImage {
  max-width: 300px;
  margin-right: 20px;
}

.BookDetails {
  flex-grow: 1;
}

.BookName {
  font-size: 24px;
  margin-bottom: 10px;
}

.BookDescription {
  align-self: flex-start;
  margin-bottom: 10px;
}

.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.rating .item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.rating .item img{
  height: 30px;
  width: 30px;
}

.actions {
  display: flex;
  gap: 100px;
}

.actionButton, .deleteButton {
  background-color: #35dc59;
  color: white;
  padding: 5px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.deleteButton {
  background-color: #00c8ff;
}

.BookReviews {
  width: 100%;
  max-width: 800px;
  text-align: left;
}

.BookReviews ul {
  list-style-type: none;
  padding: 0;
}

.BookReviews li {
  background-color: #f9f9f9;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}

h2 {
  margin-bottom: 10px;
}